<!DOCTYPE html>
<html>
<head>
  <title>Shoe Brand Generator Response</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Shoe Brand Generator Response</h1>
  <p>Your input:</p>
  <p><%= brand %></p>
  <p>Generated response:</p>
  <p><%= response %></p>
</body>
</html>
