<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Error</h1>
    <p>Sorry, an error occurred while generating the response.</p>
</body>

</html>