<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shoe List</title>
</head>
<body>
  <h1>Shoe List</h1>
  <ul>
    <% for (let i = 0; i < shoes.length; i++) { %>
      <li><%= shoes[i] %></li>
    <% } %>
  </ul>
</body>
</html>
